extends layout

block content
  section.jumbotron
    div.box
        h1 KISSY MINI
        p.lead 为移动 Web 开发量身定做的前端开发框架，轻巧易用，源自 KISSY ！
        p.btns
          a.btn.btn-lg.btn-info(href='http://gitlab.alibaba-inc.com/kissy/m', role='button') 查看源码 （v 0.3.4）
          a.btn.btn-lg.btn-success(href='/docs/quickstart', role='button') 快速上手
  section.row.marketing
    div.box
        div.col-md-4.first
          h4 轻量级
          p KISSY MINI 的体积非常小，gizp 后，文件大小约 8 ~ 13k。

        div.col-md-4.second
          h4 无缝迁移
          p KISSY MINI 与 KISSY 遵循相同的模块规范，API 则是 KISSY 的子集，可轻易切换至 KISSY 。

        div.col-md-4.last
          h4 社区支持
          p KISSY MINI 与 KISSY 共享社区，你可以使用来自社区的优质组件和工具，也可以向社区贡献自己的作品！
