
extends layout

block content
  


	section 
		p KISSY MINI 是 [KISSY](http://docs.kissyui.com/) 的移动端版本，专门为 H5 页面使用打造。体积瘦身，功能完整，能够兼容 KISSY，目前已经应用在阿里许多场景中。他的优势是：

		ul
			li 体积小：KISSY MINI 的体积非常小，gizp 后，文件大小约 8 ~ 13k。
			li 无缝迁移：KISSY MINI 与 KISSY 遵循相同的模块规范，API 则是 KISSY 的子集，可轻易切换至 KISSY 。
			li 社区支持：KISSY MINI 与 KISSY 共享社区，你可以使用来自社区的优质组件和工具，也可以向社区贡献自己的作品！

		p 
			a(href='https://gitter.im/kissymini?utm_source=share-link&utm_medium=link&utm_campaign=share-link')
				img(src='https://badges.gitter.im/Join%20Chat.svg')
			a(href='http://gitlab.alibaba-inc.com/kissy/m') 查看源码

		h3 脚本引用
		p 引用脚本
		code
			pre <script src="http://g.alicdn.com/kissy/m/0.3.11/mini-min.js"></script>
		p 调用方式
		code 
			pre
				KISSY.use('node',function(S){
				  S.one('#id').all('.list').css({
				    background:'red',
				    display:'block',
				    'border-left':'2px'
				  });
				})




